.middle {
  display: table-cell;
  vertical-align: middle;
}
.ripple-parent {
  position: relative;
  overflow: hidden;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  //   width: 400px;
  /* Whatever width you want */
}

.container {
  padding: 0%;
  margin: 0%;
  width: 95%;
}
.center {
  margin: auto;
}
ion-icon {
  font-size: 22px;
}

ion-button {
  --background: #44dcb6;
}
* {
  color: #08595e;
}
