// ion-content {
//   --ion-background-color: #fce3ea;
// }
// ion-item {
//   --background: #c5b4e3;
// }

// .t1 {
//   background: -webkit-linear-gradient(180deg, #894794 0%, #db8691 100%);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

ion-item {
  --background: #44dcb6;
}
.t1 {
  background: #08595e;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

* {
  color: #08595e;
}
