.ripple-parent {
  position: relative;
  overflow: hidden;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.center {
  // margin: auto;
  // border: 3px solid green;
  // padding: 10px;
  font-family: "Inter";
  background-color: #fce3ea;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  //   width: 400px;
  /* Whatever width you want */
}

ion-icon {
  --ion-margin-left: auto;
  --ion-margin-right: auto;
  text-align: center;
}

ion-card {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.bg {
  --background: linear-gradient(180deg, #894794 0%, #db8691 100%);
}

.t1 {
  background: -webkit-linear-gradient(180deg, #894794 0%, #db8691 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
ion-content {
  --ion-background-color: #fce3ea;
}

ion-card {
  background: #c5b4e3 !important;
}
