<!-- <ion-header translucent class="ion-no-border">
  <ion-toolbar>
    <div class="center">
      <ion-card class="ion-activatable ripple-parent">
        <ion-card-header>
          <ion-card-subtitle>{{address}}</ion-card-subtitle>
          <ion-card-title class="t1">{{username}}</ion-card-title>
        </ion-card-header>

        <ion-ripple-effect></ion-ripple-effect>
      </ion-card>
    </div>
  </ion-toolbar>
</ion-header> -->

<div class="center">
  <ion-card class="ion-activatable ripple-parent">
    <ion-card-header>
      <ion-card-subtitle>{{address}}</ion-card-subtitle>
      <ion-card-title class="t1">{{username}}</ion-card-title>
    </ion-card-header>

    <ion-ripple-effect></ion-ripple-effect>
  </ion-card>
</div>

<ion-content class="ion-padding">
  <ion-refresher
    slot="fixed"
    pullFactor="0.5"
    id="refresher"
    (ionRefresh)="doRefresh($event)"
  >
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-fab horizontal="end" vertical="top" slot="fixed" edge>
    <ion-fab-button (click)="logout()" color="danger">
      <ion-icon name="power-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <div
    style="
      display: flex;
      justify-content: center;
      margin-top: 5%;
      margin-bottom: 5%;
    "
  >
    <ion-fab style="left: 50px">
      <ion-fab-button (click)="toPay()" class="bg">
        <ion-icon name="checkmark-outline"></ion-icon> </ion-fab-button
      >To Pay
    </ion-fab>

    <ion-fab>
      <ion-fab-button (click)="service()" class="bg">
        <ion-icon name="rose-outline"></ion-icon> </ion-fab-button
      >Service
    </ion-fab>

    <ion-fab style="right: 30px; text-align: center">
      <ion-fab-button (click)="completed()" class="bg">
        <ion-icon name="bag-check-outline"></ion-icon> </ion-fab-button
      >Completed
    </ion-fab>
  </div>

  <div style="margin-top: 28%; max-height: 75%; overflow-y: scroll">
    <ion-item>
      <ion-list-header>
        <h3>CART</h3>
      </ion-list-header>
    </ion-item>
    <div *ngIf="show">
      <ion-card class="ion-activatable ripple-parent">
        <ion-card-header>
          <ion-card-subtitle>No Items in Cart</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean.
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="!show">
      <div *ngFor="let order of orders; index as i">
        <ion-list
          *ngIf="order.order_status == 'bookmark'"
          style="padding-top: 0px; padding-bottom: 0px"
        >
          <ion-card
            (click)="confirmcart(i, order)"
            class="ion-activatable ripple-parent"
          >
            <ion-item lines="none">
              <ion-icon
                name="flower-outline"
                slot="start"
                size="large"
              ></ion-icon>
              <ion-label>
                <ion-card-subtitle
                  *ngIf="order.order_flower=='Generated Bouquet'; else flowername"
                  >{{order.order_flower}} {{i+1}}</ion-card-subtitle
                >
                <ng-template #flowername
                  >{{order.order_flower | titlecase}}</ng-template
                >

                <ion-card-title
                  >₱ {{order.order_totalprice | number:'1.2-2'}}</ion-card-title
                ></ion-label
              >
            </ion-item>
          </ion-card>
        </ion-list>
      </div>
    </div>
  </div>
</ion-content>
