.container {
  padding: 0%;
  margin: 0%;
  width: 95%;
}
.center {
  margin: auto;
}
ion-icon {
  font-size: 22px;
}
ion-text {
  color: #737373;
}

.myColor {
  background-color: #00c4cc;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #08595e;
}

ion-button {
  --background: #00c4cc;
  color: #08595e;
  font-weight: 500;
  float: right;
}

ion-footer {
  --background: #00c4cc;
}
