<ion-content>
  <div class="center" style="width: 100%">
    <ion-card class="ion-activatable ripple-parent">
      <ion-card-header>
        <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>

        <span class="h4"> Please fill</span>
        <ion-card-title>Floral Details</ion-card-title>
      </ion-card-header>

      <ion-ripple-effect></ion-ripple-effect>
    </ion-card>
  </div>
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div>
          <ion-slides pager="false" [options]="slideOpts">
            <ion-slide id="foo">
              <ion-card style="width: 330px">
                <ion-card-header><img [src]="link" alt="" /> </ion-card-header>

                <ion-card-content> </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </div>
        <ion-grid>
          <ion-row style="justify-content: center">
            <span style="font-size: 20px"
              >Total Price: ₱ {{total | number:'1.2-2'}}</span
            >
          </ion-row>

          <ion-row style="justify-content: center">
            <ion-button (click)="mode()">Checkout</ion-button>
            <ion-button (click)="add_to_cart()">Add to Cart</ion-button>
          </ion-row>

          <!-- <ion-row style="justify-content: center; width: 100%">
            <ion-button>Back</ion-button>
          </ion-row> -->
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
