<ion-content>
  <ion-card-header>
    <ion-icon name="arrow-back-outline" (click)="back()"></ion-icon>
  </ion-card-header>

  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div>
          <ion-slides pager="false" [options]="slideOpts">
            <ion-slide id="foo">
              <ion-card style="width: 330px">
                <ion-card-header><img [src]="link" alt="" /> </ion-card-header>

                <ion-card-content> </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </div>

        <ion-grid>
          <ion-row class="p-3">
            <ion-col>
              <ion-text>
                <h6>{{bouquet_name | titlecase}}</h6>
                <h6>₱ {{total | number:'1.2-2'}}</h6>
              </ion-text></ion-col
            >

            <ion-col>
              <ion-button (click)="add_to_cart()"
                >Cart
                <ion-icon
                  name="cart-outline"
                  style="padding-left: 15px"
                ></ion-icon
              ></ion-button>
            </ion-col>
          </ion-row>
          <ion-row class="p-3">
            <ion-text>
              <span>{{bouquet_description}}</span>
            </ion-text>
          </ion-row>
          <!-- <ion-row style="justify-content: center">
            <ion-button (click)="mode()">Checkout</ion-button>
          </ion-row> -->
        </ion-grid>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border myColor" color="#44dcb6;">
  <!-- <ion-button (click)="mode()">Checkout</ion-button> -->
  <h6 (click)="mode()" style="padding-left: 15px">Checkout</h6>
</ion-footer>
