.container {
  padding: 0%;
  margin: 0%;
  width: 95%;
}
.center {
  margin: auto;
}
ion-icon {
  font-size: 22px;
}
.myColor {
  background-color: #44dcb6;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
}
ion-button {
  --background: #44dcb6;
}
* {
  color: #08595e;
}
